/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  margin-top: 2rem;
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: rem;
  background-image: url(/Users/masayasutahara/randomtalk/docs/coffee-1276778_1920.jpg);
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  background-size: cover ;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family:"游ゴシック", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

p {
  margin-top:1rem;
}

.px-3 {
  color:rgba(101, 53, 11, 1);
}
h3 {
  color:rgba(101, 53, 11, 1);
}
